<div class="pais">
  <a class="pais-vasak" href="/">
    <img src="/assets/klubilogo.png" height="90">
    <span class="logo-pealkiri">Hiking<br>Club</span>
  </a>
  <nav>
    <a href="/">Home</a>
    <a href="#">Upcoming treks</a>
    <a href="#">Trek for family</a>
    <a href="/contact">Contact us</a>
  </nav>
</div>