<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %>
            <div class="container-fluid kontakti-sektsioon">
                <label for="name" class="form-label">Nimi</label>
                <input id="name" class="form-control" type="text" placeholder="Peeter Paan">
                <label for="email class=" form-label"">E-mail</label>
                <input id="email" class="form-control" type="email" placeholder="paanipets@gmail.com">
                <label for="message" class="form-label">Sõnum</label>
                <textarea id="message" class="form-control" placeholder="Kirjuta sõnum siia..."></textarea>
                <button id="sendMessage" class="btn btn-light">Saada sõnum</button>
            </div>
    </div>
    <div>siin on kontakt</div>
    <script src="/scripts/contact.js"></script>
</body>

</html>